@import "http://webfonts.ru/import/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
#visitorName{
  margin: 5px;
  padding: 2px;
  height: 1.6em;
  line-height:1.5em;
}