#gameTable{
    display:none;

}
#gameTable table{
    border: 1px solid #000;
    width: 500px;
}
#gameTable table th{
    color: #fff;
    background-color: #888;
}
#gameTable table .tableNr{
    width: 50px;
}
#gameTable table .tableNumber{
    width: 100px;
}
#gameTable table .tableInfo{
    width: 200px;
}
#gameTable table .tablePoints{
    width: 150px;
}